.header-site {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow-y: visible;
    overflow-x: hidden;
}

.btn-menu {
    background-color: transparent;
    border: none;
    outline-color: transparent;
}

.header-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40px);
    z-index: 20;
    transform: translateX(100%);
}

.header-menu.active {
    transition: all 0.5s ease;
    transform: translateX(100%);
}

.header-menu.inactive {
    transition: all 0.5s ease;
    transform: translateX(0);
}

.header-menu-action {
    padding: 1.5rem;
}

.btn-close {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
}

/* .header-list-container {
} */

.header-list-menu {
    list-style: none;
    /* padding-left: 0; */
}

.header-list-item a {
    display: inline-block;
    padding: .5rem 5.75rem .5rem 0;
    border-right: 3px solid #fff;
    width: 100%;
    box-sizing: border-box;
}

.header-list-item + .header-list-item {
    margin-top: 1rem;
}

.nav-number {
    color: #fff;
    letter-spacing: 2.7px;
}

.header-list-item .nav-text {
    margin-left: .75rem;
    color: var(--secondary-color);
}
