body {
  background-image: url(/assets/home/background-home-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  color: var(--tertiary-color);
}

.hero-title {
  text-transform: uppercase;
  text-align: center;
  margin: 24px 0;
}

.hero-title-2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 80px;
}
