body {
	background-image: url(/assets/home/background-home-mobile.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	margin: 0;
	color: var(--tertiary-color);
	position: relative;
}

.hero-title {
	text-transform: uppercase;
	text-align: center;
	margin: 24px 0;
	color: var(--secondary-color);
}

.hero-title-2 {
	text-transform: uppercase;
	text-align: center;
	font-family: var(--bellefair-font);
	font-weight: 400;
	margin: 0;
}

.hero-description {
	text-align: center;
	padding: 0 1.25rem;
	color: var(--secondary-color);
}

.explore {
	position: fixed;
	z-index: 10;
	bottom: 3rem;
	left: 0;
	width: 100vw;
	display: flex;
	justify-content: center;
}

.btn-explore {
	width: 150px;
	height: 150px;
	background-color: var(--tertiary-color);
	color: black;
	border-radius: 50%;
	letter-spacing: 1.25px;
	border: none;
	outline-color: transparent;
	text-transform: uppercase;
}

@media screen and (min-width: 768px) {
	body {
		background-image: url(/assets/home/background-home-tablet.jpg);
	}

	.hero {
		max-width: min-content;
		margin: auto;
	}

	.hero-title {
		margin-top: 6.26rem;
	}

	.hero-title-2 {
		margin: 0;
	}

	.hero-description {
		padding: 0;
	}

	.btn-explore {
		width: 242px;
		height: 242px;
	}
}
@media screen and (min-width: 1199.98px) {
	body {
		background-image: url(/assets/home/background-home-desktop.jpg);
	}

	.home-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: calc(100vh - 5.5rem);
	}

	.hero-container {
		display: flex;
		flex: 1;
	}

	.hero {
		flex: 0.5;
	}

	.explore {
		width: auto;
		flex: 0.5;
		position: static;
		align-self: flex-end;
	}
}
