body {
  background-image: url(/assets/home/background-home-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  color: var(--tertiary-color);
  position: relative;
}

.hero-title {
  text-transform: uppercase;
  text-align: center;
  margin: 24px 0;
  color: var(--secondary-color);
}

.hero-title-2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 80px;
  font-family: var(--bellefair-font);
  font-weight: 400;
}

.hero-description {
  text-align: center;
  padding: 0 1.25rem;
  color: var(--secondary-color);
  line-height: 1;
  font-size: 15px;
  line-height: 25px;
}

.explore {
  position: fixed;
  z-index: 10;
  bottom: 3rem;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.btn-explore {
  width: 150px;
  height: 150px;
  background-color: var(--tertiary-color);
  color: black;
  border-radius: 50%;
  font-size: 1.25rem;
  font-family: var(--bellefair-font);
  letter-spacing: 1.25px;
  border: none;
  outline-color: transparent;
  text-transform: uppercase;
}
