:root {
	--primary-color: #0b0d17;
	--secondary-color: #d0d6f9;
	--tertiary-color: #ffffff;
	--barlow-font: "Barlow Condensed", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	--bellefair-font: "Bellefair", -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
}

body {
	margin: 0;
	font-family: var(--bellefair-font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

.heading-1 {
	font-size: 80px;
	line-height: 100px;
}

.heading-2 {
	font-size: 56px;
}

.heading-3 {
	font-size: 24px;
}

.heading-4 {
	font-family: var(--bellefair-font);
	font-size: 20px;
	letter-spacing: 1.25px;
}

.heading-5 {
	font-size: 16px;
	letter-spacing: 2.7px;
	font-weight: 400;
	font-family: var(--barlow-font);
}

.sub-heading-1 {
	font-size: 28px;
}

.sub-heading-2 {
	font-size: 14px;
	letter-spacing: 2.36px;
}

.nav-text {
	font-size: 14px;
	letter-spacing: 2.36px;
	font-family: var(--barlow-font);
	font-weight: 400;
}

.body-text {
	font-family: var(--barlow-font);
	font-size: 15px;
	line-height: 25px;
	font-weight: 400;
}

@media screen and (min-width: 768px) {
	.heading-1 {
		font-size: 150px;
		line-height: 150px;
	}

	.heading-2 {
		font-size: 80px;
	}

	.heading-3 {
		font-size: 40px;
	}

	.heading-4 {
		font-size: 32px;
		letter-spacing: 2px;
	}

	.heading-5 {
		font-size: 20px;
		letter-spacing: 3.38px;
	}

	.sub-heading-1 {
		font-size: 28px;
	}

	.sub-heading-2 {
		font-size: 14px;
		letter-spacing: 2.36px;
	}

	.nav-text {
		font-size: 16px;
		letter-spacing: 2.7px;
	}

	.body-text {
		font-size: 18px;
		line-height: 28px;
		font-weight: 400;
	}
}

@media screen and (min-width: 1440px) {
	.heading-1 {
		line-height: auto;
	}

	.heading-2 {
		font-size: 100px;
	}
	.heading-3 {
		font-size: 56px;
	}
	
	.heading-5 {
		font-size: 28px;
		letter-spacing: 4.72px;
	}

	.body-text {
		font-size: 18px;
		line-height: 32px;
		font-weight: 400;
	}
}
